/* Navigator */
.custom-navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

@media (max-width: 992px) {
    .custom-navbar {
        text-align: center;
        background-color: rgba(33, 37, 41, 0.95); /* O el color que prefieras */
    }
}
