/* Navigator */
.custom-navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

@media (max-width: 992px) {
    .custom-navbar {
        /* background-color: rgba(33, 37, 41, 0.95);  */
        background: linear-gradient(120deg, #0f0c29, #302b63, #24243e);
        border-bottom: 1px #6f6f6f solid;
    }
}
