/* SECTION 02: ABOUT ME */
.img-aboutMe02 {
    max-width: 250px !important;
    width: 80%;
    ;
}

.tech-cloud {
    position: absolute;
    width: 50px;
    max-width: 15vw;
    animation: float 6s ease-in-out infinite;
    opacity: 0.9;
}

.tech-cloud01 {
    top: -30px; left: -30px
}

.tech-cloud02 {
    top: 20px; right: -40px;
}

.tech-cloud03 {
    bottom: -20px; left: 0;
}

.text-justify {
    text-align: justify !important;
}

@media (max-width: 576px) {
    .section-aboutme p {
        font-size: 0.95rem;
    }

    .tech-cloud {
        width: 40px;
    }
}

/* Animación suave */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
